<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a href="#" [routerLink]="['/content']"><i class="bi bi-alarm"></i></a>
            </li>
            <li>
                <a href="#" [routerLink]="['/test']"><i class="bi bi-alarm"></i></a>
            </li>
            <li>
                <a href="#" [routerLink]="['/test']"><i class="bi bi-alarm"></i></a>
            </li>
            <li>
                <a href="#" [routerLink]="['/test']"><i class="bi bi-alarm"></i></a>
            </li>
        
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
  </div>
  <!-- /#wrapper -->